{% extends '@MadisoftStudents/base.html.twig' %}
{% block body %}
    {% include '@MadisoftStudents/header.html.twig' %}
    <div class="container">
        {% include '@MadisoftStudents/studentsList.html.twig' %}
    </div>
{% endblock %}