<h2>{{ 'ms_students.emails.grade_variation_title'|trans({'%student%': schoolGrade.student}) }}</h2>
<p>{{ 'ms_students.emails.grade_variation_base_text'|trans({'%school_grade_id%': schoolGrade.id}) }}</p>
{% if( gpa is not same as(false) and gpa < average_alert|number_format ) %}
    <p>{{ 'ms_students.emails.grade_variation_alert_text'|trans({'%gpa%': gpa}) }}</p>
{% endif %}
